@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* primary colours */
    --primary-beige-dark: #98908b;
    --primary-beige-light: #f8f4f0;
    --primary-grey-darkest: #201f24;
    --primary-grey-dark: #696868;
    --primary-grey: #b3b3b3;
    --primary-grey-light: #f2f2f2;

    /* secondary colours */
    --secondary-green: #277c78;
    --secondary-yellow: #f2cdac;
    --secondary-cyan: #82c9d7;
    --secondary-navy: #626070;
    --secondary-red: #c94736;
    --secondary-purple: #826cb0;

    /* themes for budgets, pots, recurring purchases, etc */
    --theme-purple: #af81ba;
    --theme-turquoise: #597c7c;
    --theme-brown: #93674f;
    --theme-magenta: #934f6f;
    --theme-blue: #3f82b2;
    --theme-grey: #97a0ac;
    --theme-army-green: #7f9161;
    --theme-gold: #cab361;
    --theme-orange: #be6c49;
  }
}

body {
  color: var(--foreground);
  background: var(--primary-beige-light);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
